*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';font-size: 22px;
}

body{
    width:100vw;
    height:100vh;
}
:root{
    --bgOrange: #e84949;
}

.wrapper{
    width:100vw;
    height:100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.navcontainer{
    position: relative;
    width:100%;
    display:flex;
    align-items: center;
    justify-content:space-between   ;
    height:75px;
    
  
}   


.nav-left{
    display:flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: baseline;
    gap:-2px;
    padding-left: 50px;
    /* transition: all 1.5s; */
}
.nav-left p{
    text-transform: uppercase;
    user-select: none;
    padding-left: 65px;
}
.nav-left p:hover{
    font-weight: bold;
}

.nav-left img{
    position:absolute;
    height:65px;
    width: 65px;
    /* transition: all 2s; */
}
        /* .nav-left:hover{
            transform: scale(1.1);
        } */

.nav-right{
    display: flex;
    width:35%;
    gap:30px; 

    
}
.nav-right a{
    text-decoration: none;
    color:black;    
    font-size: 20px;
    transition: font-weight 0.5s;

}
.nav-right a:hover{
    font-weight: bold;
}

.herosection{
    width:100vw;
    height:100vh;
    
}

.herosection-content{
    position: relative;
    display:flex;
    flex-direction: row;
    width:100%;
    height:100%;
}

.hero-left{
    position: relative;
    display:flex;
    flex-direction: column;
    width:40%;
    gap:10px;
}

.hero-left h1{
    font-size:70px;
    padding-top:90px;
    padding-left:30px;
    text-shadow: 5px 5px  #D3D3D3;
}
.hero-left p{
    padding-left:40px;  
}
.hero-para b{
    font-size:25px;
}
.hero-para2 p{
    font-size:18px;
}


.btn{
    background-color: var(--bgOrange);
    position: relative;
    width:fit-content;
    color:white;

    padding:0.8rem 2rem;
    margin-left: 40px;
    margin-top:35px;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size:18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 1px transparent;  
    z-index: 1;
}
.btn::before{
    content:"";
    background-color: #fff;
    position:absolute;
    top:0px;
    bottom:0px;
    right: 0;
    left:0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
    z-index: -1;
    
}
.btn:hover::before{
    transform: scaleX(1);
}

.btn:hover{
    border: solid 3px var(--bgOrange);
    color:black;
    border: none;
}


.hero-right{
    position: relative;
    width:60%;
}
.hero-iamge{
    position: absolute ;
}
.hero-image img{
    padding-top: 10px;
    padding-left:80px;
    width:1200px;
    height: 680px;
    transition:all 5s;
}

.hero-image img:hover{
    transform: translateX(-45px) scale(1.1);
}

.footersection{
    width:100%;
    height:250px;
    background-color: #D3D3D3;
    
}

footer{
    padding-top:50px;
    display:flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap:30px;       
}
.fade-name{
    color:white;
    font-weight:bold;   
    font-size: 50px;
}
nav{
    display:flex;
    gap:20px;
}
nav a{
    text-decoration: none;
    color:black;
    transition: all 0.5s;
}
nav a:hover{
    font-weight: bold;
}